<link rel="stylesheet" href="/css/style.css">

<div class="login-container">
    <div class="logoIPT">
        <img src="/assets/" alt="IPT Logo">
    </div>

    <div class="Entrar">
        <h1>Entrar</h1>
        <p>Acesse sua conta para continuar</p>
    </div>

    <form id="loginForm">
        <div class="input-group">
            <img src="/assets/icons/mail.svg" alt="Email Icon">
            <input type="email" id="email" placeholder="Email" required>
        </div>

        <div class="input-group">
            <img src="/assets/icons/lock.svg" alt="Senha Icon">
            <input type="password" id="senha" placeholder="Senha" required>
            <img src="/assets/icons/eye-slash.svg" alt="Senha Icon">
        </div>

        <div class="options">
            <label><input type="checkbox" id="lembrar"> Lembrar-me</label>
            <a href="#">Esqueceu sua senha?</a>
        </div>

        <button type="submit" class="btn-entrar">ENTRAR</button>
    </form>

    <div class="divider">
        <div class="line"></div>
        <span>ou</span>
        <div class="line"></div>
    </div>

    <button type="button" class="btn-google">
        <img src="/assets/icons/google-logo.svg" alt="Google"> Continuar com Google
    </button>
</div>

<script src="/js/login.js"></script>